.skill-card {
  width: 30%;
  padding: 50px;
  margin: 10px;
}

.skill-component {
  width: 60%;
  text-align: center;
  margin: auto;
  padding-bottom: 100px;
}

.card-title-bold {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

.card-sub-title-bold {
  font-size: 16px;
  color: #3c70a4;
  padding: 10px;
}
.space {
  margin-top: 20px;
}
