.cover {
  width: 60%;
  height: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.left {
  text-align: left;
  margin-left: 20px;
}

.project-header {
  display: flex;
}

.project-description {
  text-align: justify;
}

.project-detail-layout {
  margin-right: 170px;
  margin-left: 170px;
}
