.project-description {
  text-align: justify;
  padding: 20px;
}

.project-detail-layout {
  margin-right: 10px;
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  .project-detail-layout {
    margin-right: 200px;
    margin-left: 200px;
  }
  .project-description {
    text-align: justify;
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
  }
  .project-info {
    text-align: left;
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
  }
  .container {
    margin-left: 200px;
    margin-right: 200px;
  }
  .cover {
    width: 100%;
  }
}
