.recentwork-title {
  font-size: 40px;
  font-weight: bold;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.recentwork-summary {
  font-size: 20px;
  font-weight: 50%;
  font-family: 'Montserrat', sans-serif;
}

.recent-work-card {
  padding: 20px;
  margin: auto;
  text-align: center;
}
.card-work {
  width: 100%;
  margin: 10px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

.card {
  border: 1px solid #ebebeb;
}

.btn-radius {
  border-radius: 24px;
}

.title-work {
  font-size: 18px;
  font-weight: bold;
}

.dribble {
  padding: 40px;
}
