.mdl-navigation__link:hover {
  cursor: pointer;
  margin-top: -5px !important;
}

.mdl-navigation {
  margin-left: 10vw !important;
}
.mdl-layout__header {
  background-color: white;
}

.header-item {
  margin-left: 30px;
  margin-right: 30px;
}

.logo {
  width: 50px;
  height: 40px;
}

@media only screen and (min-width: 768px) {
  .mdl-navigation {
    margin-left: 20vw !important;
  }
}
