nav .mdl-navigation__link {
  text-transform: uppercase;
  color: #007adf;
  font-weight: 600;
  font-size: 11px;
  text-shadow: 1px 1px 10px #fff;
  -moz-transition: all 275ms cubic-bezier(0.53, -0.67, 0.73, 0.74);
  -o-transition: all 275ms cubic-bezier(0.53, -0.67, 0.73, 0.74);
  -webkit-transition: all 275ms cubic-bezier(0.53, -0.67, 0.73, 0.74);
  transition: all 275ms cubic-bezier(0.53, -0.67, 0.73, 0.74);
  font-family: 'Montserrat', sans-serif;
}
.mdl-navigation__link:hover {
  cursor: pointer;
  margin-top: -5px !important;
}

.mdl-navigation {
  margin-left: 10vw !important;
}
.mdl-layout__header {
  background-color: white;
}

.header-item {
  margin-left: 30px;
  margin-right: 30px;
}

.logo {
  width: 50px;
  height: 40px;
}

@media only screen and (min-width: 768px) {
  .mdl-navigation {
    margin-left: 20vw !important;
  }
}
