.profile-title {
  font-size: 40px;
  font-weight: bold;
}

.profile-summary {
  font-size: 22px;
  font-weight: 50%;
}

.profile-header {
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.profile-intro {
  margin-top: 20px;
  font-size: 18px;
  width: 50%;
  margin: auto;
  color: white;
}

.about-me-section {
  margin-top: 50px;
  padding-top: 100px;
  margin-bottom: -160px;
  padding-bottom: 200px;
  background-color: #3c70a4;
}

.foto-profile {
  margin: 40px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
