$font-title: 24px;
$font-header: 18px;
$font-content: 16px;
$lg-space: 80px;
$m-space: 20px;
$sm-space: 10px;

@media (max-width: 768px) {
  .profile-title {
    font-size: $font-title;
    font-weight: bold;
    font-family: $font;
    padding: $m-space;
  }
  .profile-summary {
    font-size: $font-header;
    font-family: $font;
  }
  .profile-header {
    font-size: $font-title;
    margin: auto;
    text-align: center;
  }
  .container {
    margin-left: $sm-space/2;
    margin-right: $sm-space/2;
  }
  .contact-me {
    padding: $m-space;
  }
  .contact-me-header {
    color: $light-background;
    font-size: $font-content;
  }
  .btn-social-media {
    border-radius: 50%;
    width: $m-space * 1.5;
    height: $m-space * 1.5;
    margin: 5px;
  }

  .btn-social-media-white {
    border-radius: 50%;
    width: $m-space * 1.5;
    height: $m-space * 1.5;
    margin: 5px;
  }
  .menu {
    padding: 1em;
  }

  .profile-intro {
    margin: 0.5em;
    font-size: $font-content;
    padding: $sm-space/2;
  }
  .project-description {
    text-align: justify;
    padding: $m-space;
  }

  .project-detail-layout {
    margin-right: $sm-space;
    margin-left: $sm-space;
  }
  .project-detail-layout {
    margin-right: 200px;
    margin-left: 200px;
  }
  .project-description {
    text-align: justify;
    padding: 40px;
    font-family: $font;
  }
  .project-info {
    text-align: left;
    padding: $m-space;
    font-family: $font;
  }

  .cover {
    width: 100%;
  }

  .skill-card {
    width: 100%;
    margin: 8px;
  }

  .skill-component {
    text-align: center;
    padding-bottom: $sm-space;
    font-family: $font;
    font-size: $font-content;
  }

  .recentwork-title {
    font-size: $font-title;
    font-weight: bold;
    color: $font-color;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .recentwork-summary {
    padding: 1em;
    font-weight: 50%;
    text-align: center;
  }
  .card-title-bold {
    font-size: $font-header;
  }
  .top-profile {
    padding: 1em;
  }

  .selected-menu {
    margin: 0.5em;
  }
  .not-selected-menu {
    margin: 0.5em;
  }
  .profile {
    margin-left: auto;
    margin-right: auto;
  }

  .foto-profile {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
  .social-media-class {
    margin-bottom: 30px;
  }
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }

  #about-me {
    padding: 1em;
  }

  #portfolio {
    padding: 1em;
  }
}
