$light-background: white;
// $theme-color: #f5a524;
// $theme-color: #fff0a5;

$theme-color: #f2f0eb;

$theme-accent: #bf5065;
// $theme-accent: #f2daac;

$font: 'Source Sans Pro', sans-serif;
$font-title: 40px;
$font-header: 24px;
$font-content: 18px;
$lg-space: 120px;
$m-space: 40px;
$sm-space: 20px;
$font-color: #4a4a4a;
$font-light: white;

.top-profile {
  background-color: $theme-color;
  display: flex;
  align-items: center;
  padding: 3em;
}

nav .mdl-navigation__link {
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
  font-size: 11px;
  text-shadow: 1px 1px 10px #fff;
  -moz-transition: all 275ms cubic-bezier(0.53, -0.67, 0.73, 0.74);
  -o-transition: all 275ms cubic-bezier(0.53, -0.67, 0.73, 0.74);
  -webkit-transition: all 275ms cubic-bezier(0.53, -0.67, 0.73, 0.74);
  transition: all 275ms cubic-bezier(0.53, -0.67, 0.73, 0.74);
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  text-decoration: none;
}
#home {
  background-color: $theme-color;
}
.ria-brand {
  font-family: 'Mr De Haviland', cursive;
  color: $theme-accent;
  font-size: $font-header;
  text-decoration: none;
}

.ria-brand :hover {
  font-family: 'Mr De Haviland', cursive;
  color: $theme-accent;
  font-size: $font-header;
  text-decoration: none;
}
.foto-profile {
  width: 100px;
}

.profile-title {
  font-size: $font-title * 1.5;
  font-weight: bold;
  color: $font-color;
  font-family: $font;
}

.profile-summary {
  font-size: $font-header;
  font-family: $font;
  color: $font-color;
}

.profile-header {
  font-size: $font-title * 1.5;
  font-weight: bold;
  color: $theme-accent;
  text-align: center;
}

#about-me {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #303030;
  padding: 3em;

  // background-image: url('../images/background.jpg');
}

.profile-intro {
  margin: 3em;
  font-size: $font-content;
  padding: $sm-space/2;
  color: $font-light;
  text-align: center;
}

.foto-profile {
  width: 300px;
  height: auto;
}

.btn-outline-primary {
  border-color: $theme-color;
  color: $theme-color;
}

.skill-card {
  width: 40%;
  margin: $sm-space;
  text-align: center;
}

.skill-component {
  color: $font-light;
}

.card-title-bold {
  font-size: $font-header;
  font-weight: bold;
  padding: $sm-space;
  color: $font-light;
}

.card-sub-title-bold {
  font-size: $font-content;
  color: $font-light;
  padding: $sm-space;
  font-weight: 400;
}
.space {
  margin-top: $m-space;
}

.contact-me {
  padding: 3em;
  background-color: $theme-accent;
  font-family: $font;
}

.contact-me-header {
  color: $light-background;
  font-size: $font-header;
  text-align: center;
}

.social-media-class {
  margin-top: $m-space;
  text-align: center;
}
.btn-social-media {
  border-radius: 50%;
  border-width: 1px;
  background-color: $theme-accent;
  border-color: $theme-accent;
  width: $m-space;
  height: $m-space;
  margin: $sm-space/3;
}

.btn-social-media-white {
  border-radius: 50%;
  border-width: 1px;
  border-color: $font-light;
  width: $m-space;
  height: $m-space;
  margin: $sm-space/3;
}

.icon-color {
  color: $theme-accent;
}

#portfolio {
  background-color: $theme-color;
  padding: 3em;
}

.recentwork-title {
  font-size: $font-title * 1.5;
  font-weight: bold;
  color: $font-color;
  font-family: $font;
  text-align: center;
  margin-left: 100px;
}

.recentwork-summary {
  font-size: $font-content;
  font-weight: 50%;
  font-family: $font;
  text-align: center;
}

.recent-work-card {
  margin: auto;
  text-align: center;
  align-items: center;
}

.menu {
  padding: 3em;
}
.email {
  font-weight: bold;
  font-size: 16px;
  color: $theme-accent;
}
.selected-menu {
  background-color: $theme-accent;
  color: $font-light;
  margin: 1em;
}
.not-selected-menu {
  border-color: $theme-accent;
  background-color: transparent;
  color: $theme-accent;
  margin: 1em;
}

.center-items {
  display: flex;
  justify-content: center;
}
.card-work {
  width: 100%;
  margin: $sm-space;
  padding: 0px;
  font-family: $font;
}

.card {
  border: 1px solid $light-background;
}

.btn-radius {
  border-radius: 4px;
}
.btn-action {
  background-color: white;
  border-color: $theme-accent;
  color: $theme-accent;
}

.btn-action-fill {
  background-color: $theme-accent;
  color: $font-light;
}

.title-work {
  font-size: $font-content;
  font-weight: bold;
}

.dribble {
  padding: $m-space;
}

.icon-skill {
  padding: 20px;
}

.detail-content {
  font-size: 16px;
  text-align: justify;
}
.detail-header {
  font-size: 18px;
  font-weight: bold;
  text-align: justify;
}

.project-image {
  padding: 20px;
  text-align: center;
}

.video-climbing-net {
  padding-top: 20px;
  height: auto;
  text-align: center;
}

@import 'mobile';
@import 'config';
