.top-profile {
  background-color: #f2f0eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em;
}

nav .mdl-navigation__link {
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
  font-size: 11px;
  text-shadow: 1px 1px 10px #fff;
  -webkit-transition: all 275ms cubic-bezier(0.53, -0.67, 0.73, 0.74);
  transition: all 275ms cubic-bezier(0.53, -0.67, 0.73, 0.74);
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  text-decoration: none;
}

#home {
  background-color: #f2f0eb;
}

.ria-brand {
  font-family: 'Mr De Haviland', cursive;
  color: #bf5065;
  font-size: 24px;
  text-decoration: none;
}

.ria-brand :hover {
  font-family: 'Mr De Haviland', cursive;
  color: #bf5065;
  font-size: 24px;
  text-decoration: none;
}

.foto-profile {
  width: 100px;
}

.profile-title {
  font-size: 60px;
  font-weight: bold;
  color: #4a4a4a;
  font-family: "Source Sans Pro", sans-serif;
}

.profile-summary {
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  color: #4a4a4a;
}

.profile-header {
  font-size: 60px;
  font-weight: bold;
  color: #bf5065;
  text-align: center;
}

#about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #303030;
  padding: 3em;
}

.profile-intro {
  margin: 3em;
  font-size: 18px;
  padding: 10px;
  color: white;
  text-align: center;
}

.foto-profile {
  width: 300px;
  height: auto;
}

.btn-outline-primary {
  border-color: #f2f0eb;
  color: #f2f0eb;
}

.skill-card {
  width: 40%;
  margin: 20px;
  text-align: center;
}

.skill-component {
  color: white;
}

.card-title-bold {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  color: white;
}

.card-sub-title-bold {
  font-size: 18px;
  color: white;
  padding: 20px;
  font-weight: 400;
}

.space {
  margin-top: 40px;
}

.contact-me {
  padding: 3em;
  background-color: #bf5065;
  font-family: "Source Sans Pro", sans-serif;
}

.contact-me-header {
  color: white;
  font-size: 24px;
  text-align: center;
}

.social-media-class {
  margin-top: 40px;
  text-align: center;
}

.btn-social-media {
  border-radius: 50%;
  border-width: 1px;
  background-color: #bf5065;
  border-color: #bf5065;
  width: 40px;
  height: 40px;
  margin: 6.66667px;
}

.btn-social-media-white {
  border-radius: 50%;
  border-width: 1px;
  border-color: white;
  width: 40px;
  height: 40px;
  margin: 6.66667px;
}

.icon-color {
  color: #bf5065;
}

#portfolio {
  background-color: #f2f0eb;
  padding: 3em;
}

.recentwork-title {
  font-size: 60px;
  font-weight: bold;
  color: #4a4a4a;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  margin-left: 100px;
}

.recentwork-summary {
  font-size: 18px;
  font-weight: 50%;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

.recent-work-card {
  margin: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  padding: 3em;
}

.email {
  font-weight: bold;
  font-size: 16px;
  color: #bf5065;
}

.selected-menu {
  background-color: #bf5065;
  color: white;
  margin: 1em;
}

.not-selected-menu {
  border-color: #bf5065;
  background-color: transparent;
  color: #bf5065;
  margin: 1em;
}

.center-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-work {
  width: 100%;
  margin: 20px;
  padding: 0px;
  font-family: "Source Sans Pro", sans-serif;
}

.card {
  border: 1px solid white;
}

.btn-radius {
  border-radius: 4px;
}

.btn-action {
  background-color: white;
  border-color: #bf5065;
  color: #bf5065;
}

.btn-action-fill {
  background-color: #bf5065;
  color: white;
}

.title-work {
  font-size: 18px;
  font-weight: bold;
}

.dribble {
  padding: 40px;
}

.icon-skill {
  padding: 20px;
}

.detail-content {
  font-size: 16px;
  text-align: justify;
}

.detail-header {
  font-size: 18px;
  font-weight: bold;
  text-align: justify;
}

.project-image {
  padding: 20px;
  text-align: center;
}

.video-climbing-net {
  padding-top: 20px;
  height: auto;
  text-align: center;
}

@media (max-width: 768px) {
  .profile-title {
    font-size: 24px;
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif;
    padding: 20px;
  }
  .profile-summary {
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
  }
  .profile-header {
    font-size: 24px;
    margin: auto;
    text-align: center;
  }
  .container {
    margin-left: 5px;
    margin-right: 5px;
  }
  .contact-me {
    padding: 20px;
  }
  .contact-me-header {
    color: white;
    font-size: 16px;
  }
  .btn-social-media {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 5px;
  }
  .btn-social-media-white {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 5px;
  }
  .menu {
    padding: 1em;
  }
  .profile-intro {
    margin: 0.5em;
    font-size: 16px;
    padding: 5px;
  }
  .project-description {
    text-align: justify;
    padding: 20px;
  }
  .project-detail-layout {
    margin-right: 10px;
    margin-left: 10px;
  }
  .project-detail-layout {
    margin-right: 200px;
    margin-left: 200px;
  }
  .project-description {
    text-align: justify;
    padding: 40px;
    font-family: "Source Sans Pro", sans-serif;
  }
  .project-info {
    text-align: left;
    padding: 20px;
    font-family: "Source Sans Pro", sans-serif;
  }
  .cover {
    width: 100%;
  }
  .skill-card {
    width: 100%;
    margin: 8px;
  }
  .skill-component {
    text-align: center;
    padding-bottom: 10px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
  }
  .recentwork-title {
    font-size: 24px;
    font-weight: bold;
    color: #4a4a4a;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .recentwork-summary {
    padding: 1em;
    font-weight: 50%;
    text-align: center;
  }
  .card-title-bold {
    font-size: 18px;
  }
  .top-profile {
    padding: 1em;
  }
  .selected-menu {
    margin: 0.5em;
  }
  .not-selected-menu {
    margin: 0.5em;
  }
  .profile {
    margin-left: auto;
    margin-right: auto;
  }
  .foto-profile {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
  .social-media-class {
    margin-bottom: 30px;
  }
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  #about-me {
    padding: 1em;
  }
  #portfolio {
    padding: 1em;
  }
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  margin: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  margin: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  margin: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  margin: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  margin: 0 5rem;
}
/*# sourceMappingURL=style.css.map */